@model BookSite.Models.Book





<form asp-controller="Edit" asp-action="ProcessEditBook" method="post">

    <div class="form-group">

        <label asp-for="Id">Id</label>

        <input asp-for="Id" />

        <span asp-validation-for="Id"></span>

    </div>


    <div class="form-group">

        <label asp-for="Title">Title</label>

        <input asp-for="Title" />

        <span asp-validation-for="Title"></span>

    </div>

    <div class="form-group">

        <label asp-for="Author">Author </label>

        <input asp-for="Author" />

        <span asp-validation-for="Author"></span>

    </div>

    <div class="form-group">

        <label asp-for="Description">Description </label>

        <input asp-for="Description" />

        <span asp-validation-for="Description"></span>

    </div>


    <div class="form-group">

        <label asp-for="Isbn">Isbn </label>

        <input asp-for="Isbn" />

        <span asp-validation-for="Isbn"></span>

    </div>

    <div class="form-group">

        <label asp-for="Type">Type </label>

        <input asp-for="Type" />

        <span asp-validation-for="Type"></span>

    </div>

    <div class="form-group">

        <label asp-for="Url">Url </label>

        <input asp-for="Url" />

        <span asp-validation-for="Url"></span>

    </div>





    <input type="submit" value="Submit" />

</form>